body,
html,
* {
  text-align: center;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 240, 223);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3rem;
}

li {
  font-size: 1.5rem;
}

form {
  height: 5rem;
  width: 15rem;
  margin: 1rem auto;
  padding: 1rem;
}

button {
  height: 2.5rem;
  width: 8rem;
  border:rgb(132, 60, 150) solid 2px;
  border-radius: 5px;
  
}
